.select {
  position: relative;

  select {
    appearance: none;
  }

  .selectArrow {
    @apply p-2 pr-3;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;

    svg {
      height: 100%;
      width: auto;
      opacity: 0.7;
    }
  }
}
