@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

#__next {
  @apply flex flex-1 flex-col;
}

main a {
  @apply text-primary underline hover:no-underline;
}

html body {
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
